<%= stylesheet_link_tag 'custom', :media => 'screen' %>
<h1><%= @title %></h1>

<%= form_for(@user) do |f| %>
<%= render 'full_fields', :f => f %>
<div class = "action">
	<%= f.submit "update" %>
	</div>
<% end %>

<div>
	<%= gravatar_for @user %>
	<a href = "http://gravatar.com/emails">Change</a>
</div>